.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.header{
  display: flex;
  align-self: center;
  text-align: center;
  background-color: grey;
  white-space: nowrap;
  font-size: 20px;
}

.header p{
  font-weight: bold;
  align-self: center;
}
.header input{
  align-self: center;
  width: 60%;
  height: 30px;
  font-size: 20px;
}
.link{
  align-self: center;
  height: 35px;
  width: 100px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
